
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgba(6, 70, 70, 0.267);
}
.container{
    background: rgb(238,245,245);
    background: linear-gradient(0deg, rgba(238,245,245,1) 0%, rgba(164,254,255,1) 20%, rgba(137,217,190,0.4682247899159664) 58%, rgba(235,255,249,1) 100%, rgba(235,255,249,1) 175%);
}
#verbs-container{
    margin: 0 35%;
}
.verbs-answer{
    display: block;
    color: black;
    background-color: rgba(0, 0, 255, 0.185);
}
#repeat{
    width: 15px;
}
#next{
    margin-top: 8rem;
    cursor: pointer;
    color: green;
}
.rightAnswer, .rightAnswer:hover{
    background-color: #6ab04c;
    border-color: #6ab04c;
    color:#ffffff
}
.wrongAnswer, .wrongAnswer:hover{
    background-color: #b33030;
    border-color: #b33030;
    color: #ffffff;
}
.burbuja{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(89, 71, 248, 0.685);
    opacity: .3;

    position: absolute;
    bottom: -150;
    left: 5%;

    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){
    width: 50px;
    height: 50px;
    left: 15%;
    animation-duration: 3s;
}
.burbuja:nth-child(2){
    width: 60px;
    height: 60px;
    left: 30%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(3){
    width: 50px;
    height: 50px;
    left: 55%;
    animation-duration: 2s;
}
.burbuja:nth-child(4){
    width: 60px;
    height: 60px;
    left: 85%;
    animation-duration: 3s;
    animation-delay:3s;
}
.burbuja:nth-child(5){
    width: 40px;
    height: 40px;
    left: 3%;
    animation-duration: 3s;
    animation-delay:3s;
}
.burbuja:nth-child(6){
    width: 40px;
    height: 40px;
    left: 95%;
    animation-duration: 3s;
    animation-delay:3s;
}
@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
       bottom: 100vh; 
       opacity: 0;
    }
}